<span class="title">
	<a onClick="javascript:voiser_toggle('__extended__<%= @lecture.id %>')"> <%= @lecture.title %> </a>
</span>
<span class="author"> <%= @lecture.teacher %>, <%= @lecture.pupil.count %> asistentes </span>

<div class="extended" id="__extended__<%= @lecture.id %>">
<div class="info">
	<p class="description"> <%= @lecture.briefdescription %></p>
	<div class="description">
		<p> <%= @lecture.description %></p>
	</div>
	<p>
		<ul>
			<%= "<li> Fecha: " + @lecture.date.strftime("%d/%M/%y") + "</li>" if @lecture.date %>
			<%= "<li> Hora de comienzo: " + @lecture.startingtime.strftime("%H:%M:%S") + "</li>" if @lecture.startingtime %>
			<%= "<li> Hora de fin: " + @lecture.endingtime.strftime("%H:%M:%S") + "</li>" if @lecture.endingtime %>
			<%= "<li> Aula: " + @lecture.room + "</li>" if @lecture.room && @lecture.room.length > 0 %>
			<%= "<li> Conocimientos previos: " + @lecture.suggestedskills + "</li>" if @lecture.suggestedskills && @lecture.suggestedskills.length > 0 %>
			<%= "<li> Nivel (1 = fácil, 5 = difícil): " + @lecture.level.to_s + "</li>" if @lecture.level %>
			<%= "<li> Referencias: " + @lecture.referencesurl + "</li>" if @lecture.referencesurl && @lecture.referencesurl.length > 0 %>
			<%= "<li> Asistido por: " + @lecture.assistedby + "</li>" if @lecture.assistedby && @lecture.assistedby.length > 0 %>
		</ul>
	</p>
	<p>		
		<% if (@root) %>
		<%= link_to '[ Editar ]', edit_lecture_path(@lecture) %>
		<%= link_to '[ Borrar ]', "/lectures/destroy/#{@lecture.id}"%>
		<% end %>
	</p>
	</div>		
	
	<div class="pupils">
		<% nPupils = @lecture.pupil.count %>
		<% if nPupils > 0 %>
		<% if @root %>
			<table class="pupiltable">
				<tbody>
					<tr>
						<th> Nombre </th>
						<th> email </th>
					</tr>
			<% for pupil in @lecture.pupil %>
					<tr>
						<td> <%= pupil.name %> </td>
						<td> <%= pupil.email %> </td>
					</tr>
			<% end %>
				</tbody>
			</table>
		<% end %>
		<% end %>
		<div id="cert_div_<%=@lecture.id%>">
			<h2> 
				<%= link_to_remote( "¡Quiero ir a esta charla y obtener un certificado de asistencia!",
				    	:update => "cert_div_#{@lecture.id}",
				        :url =>{
							:controller => "lectures",
							:action => "pupilform", 
							:id => @lecture.id
					 }) %>
			</h2>
		</div>
	</div>	
</div>
