<div id="header">
	<h1> 
		<%= link_to "Jornadas técnicas", :controller => "courses" %> > 
		<%= link_to @lecture.course.title, :controller => "courses/#{@lecture.course_id}" %> > 
		Editando: <%= @lecture.title %>
	</h1>
</div>

<% if @lecture.errors.count > 0 %>
<div class="errorHeader">Por favor, corrige los siguientes errores: </div>
<% end %>

<% form_for @lecture do |f| %>
  <p>
	<table>
		<tbody>
			<tr>
				<td> Título (corto y descriptivo): </td>
				<td> <%= f.text_field :title %> </td>
				<td class='error'> <%= @lecture.errors.on 'title' %> </td>
			</tr>
			<tr>
				<td> Ponente: </td>
				<td> <%= f.text_field :teacher %> </td>
				<td class='error'> <%= @lecture.errors.on 'teacher' %> </td>
			</tr>
			<tr>
				<td> ¿Fija? </td>
				<td> <%= f.check_box :stuck %></td>
				<td class='error'> <%= @lecture.errors.on 'stuck' %> </td>
			</tr>
			<tr>
				<td> Asistido por: </td>
				<td> <%= f.text_field :assistedby %> </td>
				<td class='error'> <%= @lecture.errors.on 'assistedby' %> </td>
			</tr>
			<tr>
				<td> Descripción breve: </td>
				<td> <%= f.text_field :briefdescription %> </td>
				<td class='error'> <%= @lecture.errors.on 'briefdescription' %> </td>
			</tr>
			<tr>
				<td> Descripción completa: </td>
				<td> <%= f.text_area :description %> </td>
				<td class='error'> <%= @lecture.errors.on 'description' %> </td>
			</tr>
			<tr>
				<td> Conocimientos previos: </td>
				<td> <%= f.text_field :suggestedskills %> </td>
				<td class='error'> <%= @lecture.errors.on 'suggestedskills' %> </td>
			</tr>
			<tr>
				<td> Nivel (1..5): </td>
				<td> <%= f.text_field :level %> </td>
				<td class='error'> <%= @lecture.errors.on 'level' %> </td>
			</tr>
			<tr>
				<td> URL del material: </td>
				<td> <%= f.text_field :referencesurl %> </td>
				<td class='error'> <%= @lecture.errors.on 'referencesurl' %> </td>
			</tr>
			<tr>
				<td> Aula: </td>
				<td> <%= f.text_field :room %> </td>
				<td class='error'> <%= @lecture.errors.on 'room' %> </td>
			</tr>
			<tr>
				<td> Fecha: </td>
				<td> <%= f.date_select :date, :include_blank => true, :order => [:day, :month, :year] %> </td>
				<td class='error'> <%= @lecture.errors.on 'date' %> </td>
			</tr>
			<tr>
				<td> Hora inicio: </td>
				<td> <%= f.time_select :startingtime, :include_blank => true %> </td>
				<td class='error'> <%= @lecture.errors.on 'startingtime' %> </td>
			</tr>
			<tr>
				<td> Hora fin: </td>
				<td> <%= f.time_select :endingtime, :include_blank => true %> </td>
				<td class='error'> <%= @lecture.errors.on 'endtingtime' %> </td>
			</tr>
			<tr>
				<td> </td>
				<td> 
					<%= f.hidden_field :course_id, :value => @lecture.course_id %>
			    	<%= f.submit "Editar" %>
				</td>
				<td class='error'> </td>
			</tr>
		</tbody>
	</table>
  </p>
<% end %>

<br />

<%= link_to "Me rajo, paso. Quiero volver", :controller => "courses/#{@lecture.course_id}" %> 
