<% remote_form_for :pupil, nil, :url => "/lectures/addpupil", :update => "cert_div_#{@lecture.id}" do |f| %>
	<p class="error"> <%=flash[:error]%> </p>
	<table>
		<tbody>
			<tr>
				<td> Tu nombre y apellidos: </td>
				<td> <%= f.text_field :name %></td>
			</tr>
			<tr>
				<td> Tu email (no se compartirá con nadie): </td>
				<td> <%= f.text_field :email %></td>
			</tr>
			<tr>
				<td> </td>
				<td> 
					<%= f.submit "¡Confirmar! "%>
					<input type="hidden" name="pupil[lecture_id]" value="<%= @lecture.id %>" />
				</td>
			</tr>
		</tbody>
	</table>
<% end %>
