
<div id="header">
	<h1> 
	<%= link_to "Jornadas técnicas", :controller => "courses" %> > 
	<%= link_to @course.title, :controller => "courses/#{@course.id}" %> > 
	<%= @course.phase==3?"Calendario":"Calendario provisional" %> 
	</h1>
</div>

<p class="notice"><%= flash[:notice] %> </p>

<table class="calendar">
	<tbody>
		<tr>
			<% ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes'].each do |s| %>
			<th> <%= s %> </th>
			<% end %>
		</tr>
		<% @calendar.weeks.each do |week| %>
		<tr>
			<% week.days.each do |day| %>
			<td>
				<table class="subcalendar">
					<tbody>
						<% if day.lectures.size > 0%>
						<tr> 
							<th colspan="2"><%= day.lectures[0].date.strftime("%d/%m/%Y") if day.lectures[0] %></th> 
						</tr>
						<% end %>
						<% day.lectures.each do |lecture| %>
						<tr> 
							<td>						
								<%= lecture.startingtime.strftime("%H:%M") if lecture.startingtime %> 
							</td>
							<td> 
								<a href="/courses/<%=@course.id%>#<%=lecture.id%>"><%=lecture.title%></a>
							</td> 
						</tr>
						<% end %>						
					</tbody>
				</table>
			</td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>

<% if @success && @calendar.skipped.size > 0 && @course.phase < Course::PHASE_VOTES %>
<p class="calendardoesnotinclude">
Por falta de datos, este calendario no incluye las siguientes charlas:
<ul class="calendardoesnotinclude">
	<% for lecture in @calendar.skipped %>
	<li> 
		<%= link_to lecture.title, :controller => "lectures", :action => "show", :id => lecture.id %>
	</li>
	<% end%>
</ul>
</p>
<% end%>

