
<% 
	lectures = @course.lecture.sort_by { |lecture| lecture.vote.count } 
	if (!@root) && @course.phase > Course::PHASE_VOTES
		lectures = lectures.find_all { |lecture| lecture.rejected == 0}
	end
%>

<div id="header">
	<h1> <%= link_to "Jornadas técnicas", :controller => "courses" %> > <%= @course.title %></h1>
</div>

<p class="notice"><%= flash[:notice] %> </p>
<% if flash[:pupilerror]%>
	<p class="errorHeader"><%= flash[:pupilerror] %></p>
<% end %>

<img alt="" src="/images/phase<%=@course.phase+1%>.png" />
<p class="phasedescription">
	<%= @course.descriptionForPhase %>
	<br />
	Quizá te interese ver 
	<% calendarTitle = @course.phase > (Course::PHASE_VOTES) ? "el calendario":"el calendario provisional" %>
	<%= link_to calendarTitle, :controller => "courses", :action => "calendar", :id => @course.id %>
	<br />
	<% if @course.phase == Course::PHASE_PROPOSALS %>
		<%= link_to "¡<strong>Yo </strong> quiero dar un curso!", :controller => "lectures", :action => "proposeme", :id => @course.id %>
		<br />
		<%= link_to "¡Quiero que <strong> alguien </strong> dé un curso!", :controller => "lectures", :action => "proposeother", :id => @course.id %>		
		<br />
	<% end %>
	<%= link_to "[ Nuevo curso ]", :controller => "lectures", :action => "new", :id => @course.id if @root %>
	<%= link_to "[ Ganadores ]", :controller => "courses", :action => "winners", :id => @course.id if @root %>
</p>

<% for lecture in lectures.reverse %>
<a name="<%=lecture.id%>"> </a>
<div class="lecture">
	<div class="mark">
		<% if lecture.stuck == 0 %>
			<% if @course.phase == Course::PHASE_VOTES %>
				<% if ! lecture.hasVoteFrom @ip %>
				<div id="voting_div_<%=lecture.id%>">
					<%= lecture.vote.count %> votos	
					<div class="senkiu">
						<%= link_to_remote( "Votar",
				    	:update => "voting_div_#{lecture.id}",
				        :url =>{
							:controller => "lectures",
							:action => "vote", 
							:id => lecture.id
					 		}) %>
					</div>
				</div>
				<% else %>
					<%= lecture.vote.count %> votos	
					<div class="senkiu"> ¡Gracias! </div>
			  	<% end %>
			<% else %>
				<% if lecture.rejected > 0 %>
					<img alt="Charla rechazada" src="/images/no.png" width="20"/>						
					<div class="senkiu"> Rechazada </div>
				<% end %>
			<% end %>
		<% else %>
			<img alt="Charla patrocinada" src="/images/stuck.png" width="20"/>
			<div class="senkiu"> ¡Patrocinada! </div>
		<% end %>
	</div>		

	<div class="content" id="content_div_<%=lecture.id%>">
		<span class="title">
			<%= link_to_remote(lecture.title,
			    	:update => "content_div_#{lecture.id}",
			        :url =>{
						:controller => "lectures",
						:action => "contents", 
						:id => lecture.id
				 }) %>
		</span>
		<span class="author"> <%= lecture.teacher %>, <%= lecture.pupil.count %> asistentes </span>
	</div>	
</div>	

<% end %>


<script type="text/javascript">
var originalDisplays = {};
function voiser_toggle(id)
{
	object = document.getElementById(id);
	savedDisplay = originalDisplays[id];

	if (""+savedDisplay == "undefined") 
	{
		originalDisplays[id] = "none";
		savedDisplay = "none";
	}

	originalDisplays[id] = object.style.display;
	object.style.display = savedDisplay;		
}
</script>
